@inherits QOnTConvert.WebFrontEnd.Classes.GenericConversionBase
<h3>Conversion Status</h3>

@code {
    <div class="container">
        <div class="row">
           <div class="col">
               Source Table
           </div>
            <div class="col">
              <!--  @SourceTable -->
            </div>
        </div>

    </div>

}
