<h2>Customer Conversion</h2>
This section converts the old QonT.CusotmerTable to iSele.CustomerTables.

<div class="card" >
    <div class="card-body">
        <h5 class="card-title">Customer Tables</h5>
        <h6 class="card-subtitle mb-2 text-muted">Customer Table</h6>
        <p class="card-text">Convert Customer Table</p>
        <a href="#" class="card-link">Go</a>
        <a href="#" class="card-link">Check</a>
        <h6 class="card-subtitle mb-2 text-muted">Customer Accounts Table</h6>
        <p class="card-text">Convert Customer Accounts Table</p>
        <a href="#" class="card-link">Go</a>
        <a href="#" class="card-link">Check</a>
    </div>
</div>
