<div  class="card">
    <div class="card-header">
        <h2>Reminders Conversion</h2>
    </div>
    <div class="card-body">
        Convert reminder texts and databases.
    </div>
    <div class="card-footer">
        <button type="button" class="btn-light">Convert Reminders</button>
    </div>
</div>