
<h2>Convert System Tables</h2>
<p>Combine .table-dark and .table-striped to create a dark, striped table:</p>
<div class="row bg-primary">
    <div class="col-md-3">Table</div>
    <div class="col-md-3">Action</div>
    <div class="col=md-6">Results</div>
</div>
<div class="row bg-secondary">
    <div class="col-md-3">ClosureDates</div>
    <div class="col-md-3"><button type="button" class="btn-lg">Convert</button></div>
    <div class="col-md-3">
        <label id="LabelCloserDates" class="alert alert-info">...</label>
    </div>
</div>
<div class="row bg-light">
    <div class="col-md-3">Person</div>
    <div class="col-md-3"><button type="button" class="btn-outline-dark">Convert</button></div>
    <div class="col-md-3"><label id="LabelPerson" class="alert alert-dark">...</label></div>
</div>
<div class="row bg-secondary">
    <div class="col-md-3">System Preference</div>
    <div class="col-md-3"><button type="button" class="btn-outline-secondary">Convert</button></div>
    <div class="col-md-3"><label id="LabelPerson" class="alert alert-secondary">...</label></div>
</div>
<div class="row bg-light">
    <div class="col-md-3">Total Count</div>
    <div class="col-md-3"><button type="button" class="btn-outline-secondary">Convert</button></div>
    <div class="col-md-3"><label id="LabelPerson" class="alert alert-dismissible">...</label></div>
</div>
